[submodule "public"]
	path = public
	url = git@github.com:vishwasvr/vishwasvr.github.io.git
	branch = main
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = git@github.com:vishwasvr/hugo-theme-cleanwhite.git
